In this notebook we quickly check the output of data_proc_T.py to see how the data looks like. That data is later used to generate the mat file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from cplAE_MET.preproc.data_proc_T import set_paths

# This is used to be able to run the notebook both remote and locally
Allen_dir = "/allen/programs/celltypes/workgroups/rnaseqanalysis/Fahimehb/git_workspace/cplAE_MET/data/"
remote_dir = "/Users/fahimehb/Documents/git-workspace/cplAE_MET/data/"

### Read the config file to set the paths

In [2]:
pth = set_paths(config_file='config_preproc.toml')
pth

{'package_dir': PosixPath('/home/fahimehb/Local/new_codes/cplAE_MET'),
 'data_dir': PosixPath('/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat'),
 'specimen_ids_file': 'exc_inh_ME_fMOST_qc_passed_EM_specimen_ids_16k_shuffled_28June23.txt',
 'gene_file': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/good_genes_beta_score.csv',
 't_data_output_file': 'T_data_16k_28June23.csv',
 't_anno_output_file': 'T_anno_16k_28June23.csv',
 'gene_id_output_file': 'gene_ids_28Sep22.csv',
 'm_data_folder': 'm_data',
 'm_anno': 'm_anno_30Mar23.csv',
 'hist2d_120x4_folder': 'hist2d_120x4',
 'arbor_density_file': 'M_arbor_data_16k_28June23.mat',
 'E_timeseries_file': 'fv_Ephys_timeseries_12Dec22.h5',
 'ipfx_features_file': 'ipfx_features_12Dec22.csv',
 'e_output_file': 'iE_data_16k_28June23.csv',
 'met_output_file': 'MET_M120x1_16k_28June23.mat',
 'config_file': PosixPath('/home/fahimehb/Local/new_codes/cplAE_MET/config_preproc.toml'),
 'input': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat',
 'specimen_ids': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/exc_inh_ME_fMOST_qc_passed_EM_specimen_ids_16k_shuffled_28June23.txt',
 't_anno': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/anno.feather',
 't_data': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/data.feather',
 't_data_output': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/T_data_16k_28June23.csv',
 't_anno_output': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/T_anno_16k_28June23.csv',
 'gene_id_output': '/home/fahimehb/Remote-AI-root/allen/programs/celltypes/workgroups/mousecelltypes/MachineLearning/Patchseq-Exc/dat/gene_ids_28Sep22.csv'}

In [3]:
pth.keys()

dict_keys(['package_dir', 'data_dir', 'specimen_ids_file', 'gene_file', 't_data_output_file', 't_anno_output_file', 'gene_id_output_file', 'm_data_folder', 'm_anno', 'hist2d_120x4_folder', 'arbor_density_file', 'E_timeseries_file', 'ipfx_features_file', 'e_output_file', 'met_output_file', 'config_file', 'input', 'specimen_ids', 't_anno', 't_data', 't_data_output', 't_anno_output', 'gene_id_output'])

### Read T anno and data 
For 30Mar22 mat file, I used the following shiny:
- "/allen/programs/celltypes/workgroups/rnaseqanalysis/shiny/patch_seq/star/mouse_patchseq_VISp_20220113_collapsed40_cpm/data.feather"
- "/allen/programs/celltypes/workgroups/rnaseqanalysis/shiny/patch_seq/star/mouse_patchseq_VISp_20220113_collapsed40_cpm/anno.feather"

Lets read and analyze the output of data_proc_T.py

In [4]:
# anno and data file output of data_proc_T.py
T_dat = pd.read_csv(pth['t_data_output'])
T_ann = pd.read_csv(pth['t_anno_output'])

print(T_dat.shape, T_ann.shape)

(16703, 1253) (16703, 6)

In [5]:
# Check how many Core, I1, I2, I3, PoorQ
# If some cells don't have T data available, the have put all the meta_data equal to nan for those cells

Counter(T_ann['Tree_call_label'])

Counter({'Core': 3861, nan: 10151, 'I2': 1267, 'I1': 1279, 'I3': 145})

In [6]:
# T_data
T_dat = T_dat.set_index("specimen_id")
T_dat

,Lhx6,Gad2,Slc32a1,Neurod2,Slc6a1,Gad1,Adarb2,Sv2b,Nrn1,Slc17a7,...,Adrb1,Chst1,Trps1,2610100L16Rik,Gnaz,Pth2r,Ier5l,Cmya5,Coro2a,Spsb4
specimen_id,,,,,,,,,,,,,,,,,,,,,
674260498,0.0,3.939487,2.825194,1.886939,6.442704,6.738867,8.401808,0.000000,1.554508,3.646169,...,0.000000,5.342818,0.000000,0.0,3.782522,0.000000,0.000000,0.000000,0.659171,4.02639
642532676,0.0,6.473134,0.000000,0.000000,6.676402,7.493796,7.573064,0.760913,0.000000,0.000000,...,2.517881,0.000000,3.216666,0.0,0.000000,0.000000,0.000000,4.704671,2.896101,0.00000
864691136088949559_370548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509885554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864691135858686568_400705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906766242,0.0,6.691911,3.713404,0.000000,6.734419,7.748503,7.988031,0.000000,2.691082,1.252640,...,0.000000,5.611130,0.000000,0.0,2.505368,0.810834,4.313979,0.000000,1.980853,0.00000
740892132,0.0,5.006375,4.555163,0.000000,5.937759,7.589220,8.299122,0.000000,0.000000,0.000000,...,0.586478,3.730021,0.000000,0.0,0.000000,0.000000,5.448105,0.000000,1.998933,0.00000
864691135750158472_388862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574968354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864691135373371848_297143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN